* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
}

a {
  display: block;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.profile {
  width: 100px;
  border-radius: 50%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a {
  text-decoration: none;
}

.social li {
  padding: 10px;
  font-size: 1.5em;
}

.social li:first-child {
  padding-left: 0;
}

.social li:last-child {
  padding-right: 0;
}
