---
import { getCollection } from 'astro:content';
import Layout from '../components/Layout.astro';
import { formatInTimeZone } from 'date-fns-tz';

const thoughts = await getCollection('thoughts');
const sortedThoughts = await Promise.all(
  thoughts
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map(async (thought) => ({
      ...thought,
      date: formatInTimeZone(
        thought.data.date,
        thought.data.timezone,
        'yyyy-MM-dd'
      ),
      time: formatInTimeZone(
        thought.data.date,
        thought.data.timezone,
        'h:mm aa zzz'
      ),
      Content: (await thought.render()).Content,
    }))
);
---

<Layout
  class="thoughts"
  activeTab="thoughts"
  title="Aria's Thoughts"
  description="Aria Fallah's thoughts"
>
  <div class="header">I heard there's something called twitter for this...</div>
  {
    sortedThoughts.map(({ date, time, Content }, i) => {
      const thoughtNumber = String(sortedThoughts.length - i);
      return (
        <div class="thought-container">
          <div class="thought-date">
            <a id={thoughtNumber} href={`#${thoughtNumber}`}>
              [{date}]
            </a>
            <small>{time}</small>
          </div>
          <article class="thought-content">{<Content />}</article>
        </div>
      );
    })
  }
</Layout>

<style>
  .thoughts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .thought-container {
    align-items: flex-start;
    display: flex;
    gap: 12px;

    @media (max-width: 640px) {
      gap: 8px;
      flex-direction: column;
    }
  }

  .thought-date {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .thought-content {
    display: flex;
    flex-direction: column;
  }
</style>
