* {
  box-sizing: border-box;
}

html {
  font: 100%/1.45em 'Source Serif Pro', serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  word-wrap: break-word;
  font-kerning: normal;
  background-color: #fcfcfc;
}

h1 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.25em;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

hr {
  border: 1px solid #ddd;
}

a {
  color: rgba(26, 13, 171, 0.85);
  text-decoration: none;
  border-bottom: 2px solid rgba(26, 13, 171, 0.85);
}

a:visited {
  color: rgba(102, 0, 153, 0.8) !important;
  border-bottom: 2px solid rgba(102, 0, 153, 0.8);
}

a:active,
a:hover {
  outline-width: 0;
}

.post-header a {
  border-bottom: none;
}

code {
  font-family: 'Fira Mono', monospace !important;
  font-size: 14px;
}

blockquote {
  color: #777;
  border-left: 0.25em solid #ddd;
  padding: 0 1em;
  margin-left: 0;
}

pre {
  margin-left: 1.45em;
  counter-reset: line;
  overflow-x: auto;
}

span.line-number::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}

.post-header {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav {
  display: flex;
  height: 60px;
  align-items: center;
}

.nav a {
  color: rgba(26, 13, 171, 0.85) !important;
  margin-right: 1em;
  border-bottom: 0;
}

.nav a.active {
  background-color: black;
  color: white !important;
  padding-left: 5px;
  padding-right: 8px;
  font-style: italic;
}

.nav a img {
  width: 30px;
  margin-bottom: 0;
}

.content {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding-left: 1em;
  padding-bottom: 1em;
}

.post-header {
  margin-bottom: 1em;
}

.post-header h1,
.post-header h4 {
  margin: 0;
}

.article-preview {
  margin-bottom: 2em;
}

.social {
  margin-bottom: 1em;
}

.social a {
  border-bottom: none;
  margin-right: 1em;
}

.social a:last-child {
  margin-right: 0;
}

.social a img {
  width: 25px;
}
